

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-signup'} ) do |f| %>
  <%= devise_error_messages! %>
    <h2>Đăng ký tài khoản</h2>

    <%= f.label :email, class: 'sr-only'%><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Địa chỉ email' %>

    <%= f.label :password, class: 'sr-only' %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Mật khẩu (ít nhất #@minimum_password_length ký tự)" %>


    <%= f.label :password_confirmation, class: 'sr-only' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Nhập lại mật khẩu" %>

    <%
      @data = [{"name"=>"Learner", "id"=>"1"}, {"name"=>"Mentor", "id"=>"2"}]
      @data_for_select = @data.each { |hash| [hash['name'], hash['id']] }

    %>
    <%= f.label :role, class: 'sr-only' %><br />
    <%= f.select :role, options_for_select([['learner', '1'],['mentor','2'], ['admin', '3']]), {} , class: 'form-control' %>

    <br />

    <%= f.submit "Đăng ký", class: 'btn btn-lg btn-info btn-block' %>

  <br />
    <div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0;">
      <input type="button" value="Đăng ký bằng facebook" class="btn btn-lg btn-primary btn-block" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6", style="padding-right:0;">
    <input type="button" value="Đăng ký bằng google" class="btn btn-lg btn-danger btn-block" />
    </div>
<% end %>


