<section id="about" class="section-content about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <figure class="fig-profile wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <%= image_tag @educator.photo.url(:medium), class: "img-responsive img-circle img-profile", alt: @educator.name %>
          <figcaption>Hello !</figcaption>
        </figure>

        <div class="clearfix"></div>

        <h2 class="name"><b><%= @educator.name %></b></h2>
        <h3 class="position"><%= @educator.expertise %></h3>
        <h4 class="text-center location">Vietnam</h4>
        <p class="caption"><%= @educator.intro %></p>
        <div class="title-divider">
          <span class="hr-divider col-xs-5"></span>
          <span class="icon-separator col-xs-2"><i class="fa fa-star"></i></span>
          <span class="hr-divider col-xs-5"></span>
        </div>

      </div>

      <div class="col-md-8 col-md-offset-2 text-center">

        <h2 class="slogan">"You are always a student, never a master. You have to keep moving forward." - Conrad Hall</h2>
        <p class="timetable"><%= @educator.timetable %></p>
        <a href="#" class="btn btn-primary btn-lg">My facebook</a>
        <a href="#" class="btn btn-info btn-lg">My twitter</a>
        <a href="#" class="btn btn-danger btn-lg">My google+</a>
        <a href="#" class="btn btn-success btn-lg">Request Mentorship </a>
</div>
</div>
</div>
</section>

