<p><%= @educator.name %></p>
<p><%= @educator.expertise %></p>
<p><%= image_tag @educator.photo.url(:medium) %></p>

<br />
<%= link_to "Cập nhật", edit_educator_path(@educator) %>
<%= link_to "Xoá hồ sơ", educator_path(@educator), method: :delete, data: { confirm: "Xoá hồ sơ?"} %>