<section id="about" class="section-content about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <figure class="fig-profile wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <%= image_tag @educator.photo.url(:medium), class: "img-responsive img-circle img-profile", alt: @educator.name %>
          <figcaption>Hello !</figcaption>
        </figure>

        <div class="clearfix"></div>

        <h2 class="name"><b><%= @educator.name %></b></h2>
        <h3 class="position"><%= @educator.expertise %></h3>
        <h4 class="text-center location">Vietnam</h4>
        <p class="caption"><%= @educator.intro %></p>
        <div class="title-divider">
          <span class="hr-divider col-xs-5"></span>
          <span class="icon-separator col-xs-2"><i class="fa fa-star"></i></span>
          <span class="hr-divider col-xs-5"></span>
        </div>

      </div>

      <div class="col-md-8 col-md-offset-2 text-center">

        <h2 class="slogan">"You are always a student, never a master. You have to keep moving forward." - Conrad Hall</h2>
        <p class="timetable"><%= @educator.timetable %></p>
        <a href="#" class="btn btn-primary btn-lg">My facebook</a>
        <a href="#" class="btn btn-info btn-lg">My twitter</a>
        <a href="#" class="btn btn-danger btn-lg">My google+</a>

      </div>
    </div>


  </div>

</section>

<div class="jumbotron center-block">
<div class="book">
  <h3 style="text-align: center">Book Mentorship Session</h3><br>
  <div style="overflow:hidden;">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="name"><h3>Thông tin của bạn</h3>
            <br />
           <input type="text" placeholder="Họ tên của bạn" class="form-control" value="Trần Duy Trung" />
            <br />
            <input type="text" placeholder="email" class="form-control" value="tranduytrung@gmail.com"/>
          </div>
          <br />
          <div class="datetime">
            <div class="name"><h3>Ngày hẹn gặp mentor</h3></div>
            <br />
            <div id="datetimepicker12"></div>
          </div>
          <br />
          <%= link_to 'Request Mentorship', mentorship_path({:educator => @educator.id }), class: 'btn btn-success btn-lg' %>
          </div>
        <div class="col-md-3"> </div>

      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker12').datetimepicker({
          inline: true,
          sideBySide: true
        });
      });
    </script>
  </div>
</div>
</div>



